@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(244deg, #000000, #005b76);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 8s ease infinite;
  -moz-animation: AnimationName 8s ease infinite;
  animation: AnimationName 8s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 29%}
  50%{background-position:100% 72%}
  100%{background-position:0% 29%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 29%}
  50%{background-position:100% 72%}
  100%{background-position:0% 29%}
}
@keyframes AnimationName {
  0%{background-position:0% 29%}
  50%{background-position:100% 72%}
  100%{background-position:0% 29%}
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}
